################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Train Booking System/.vs/Train Booking System/FileContentIndex/7fb6962d-9550-4800-a5c5-91aaaf639ddd.vsidx
/Train Booking System/.vs/
